@charset: "utf-8";
*{margin:0; top:0;}
#unao{position: relative; top:0; left:0; width:100%; height:900px; background:#d0d1ad;}
.contents{width:1172px; height:900px; margin:0 auto; position:relative;overflow: hidden;}
.logo{position:absolute; top:35px; left:50px;}
.text{position:absolute; top: 420px; left:85px; font-weight: bold; z-index: 9;}
.text p{color:#ba8564;font-size:60px;}
.text h1{font-weight:normal; font-size:220px; color:#293b4f;letter-spacing:-0.09em; text-indent:-20px; margin-top:-35px;}
.img{position: relative; top:0; left:0;}
.img .photo1{position:absolute; top:250px; left:712px; width:396px; height: 546px; z-index: 10;}
.img .photo2{position:absolute; top:796px; left:552px; width:477px; height: 103px;}
.img .round1{width:400px;height: 400px; border-radius: 50%; background:#b64f41; position:absolute; top:580px;}
.img .round2{width:200px;height: 200px; border-radius: 50%; background:#b64f41; position:absolute; right:0; top:385px;}
.img .round3{width:100px;height: 100px; border-radius: 50%; background:#b64f41; opacity: 0.7; position:absolute; right:182px; top:600px;z-index: 11;}
.img .round4{width:70px;height: 70px; border-radius: 50%; background:#b64f41; opacity: 0.4; position:absolute; right:140px; top:210px;z-index: 11;}

.footer{width:100%; height:90px;border-top:1px solid #acacac; background:#d0d1ad; position:fixed; top:100%; margin-top:-90px; z-index:13;}